
#header{
    background-color: darkorange;
}
.searchContainer {
    margin-top: 13px;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: auto;
    margin-left:10px;
    border: 0;
    border-radius: 21px;
    overflow: hidden;
    background-color: white;
  }
  
  .searchIcon {
    padding: 12px 4px 10px 10px;
    font-size: 11px;
    z-index: 2;
    background-color: white;
  }
  
  .searchBox {
    border: none;
    padding: 7px;
    background-color: white;
    font-size: 13px;
    width: calc(100% - 25px);
    outline: none;
  }
  
  .searchButton {
      height: 70%;
      margin-top:7px;
    background: white;
    border: 2px solid darkorange;
    color: darkorange;
    border-radius: 15px;
  
  }
  
  p{
      font-size: 19px;
      color: #f1f1f1;
      margin-left: 0px;
      padding-left: 5px;
      padding-top: 12px;
      height: inherit;
      width: 100%;
      background-color: #1e282d !important;
  }

  .icon {
    font-size: 22px;
    padding: 19px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, darkorange 0%, #F09819  51%, #FF512F 100%);
    transition: 0.3s;
  }

  .icon:hover {
    background-position: right center;
  }