<div class="container">
  <h1 style="text-align: center; margin-top: 28px;">Manage Items Tracking</h1>
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>Owner's Last Name</th>
          <th>Owner's First  Name</th>
          <th>Owner's Fiscal Code</th>
          <th>Item Name</th>
        </tr>

          <tr *ngFor="let itemlent of itemsLent">
            <td>{{itemlent.lastNameOwner}}</td>
            <td>{{itemlent.firstNameOwner}}</td>
            <td>{{itemlent.fiscalCodeForLent}}</td>
            <td>{{itemlent.itemName}}</td>

        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>-->
  </div>

  <button (click)="download()">Download</button>

</div>