*{
    text-align: center;
}

/*Tables*/
table {
	width: 100%;
	float: left;
}

th, td {
	text-align: center;
	font-size: 16px;
	width: fit-content;
}

th {
	padding: 10px;
	background-color: darkorange;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #fff3eb;
}

td:hover, td:active, td:focus {
	background-color: darkorange;
	color: white;
}

a:hover {
	color: red;
}

input, select{
    background-color: inherit;
	font-size: inherit;
	width: 100%;
	padding: 10px;
	border: 0;
	outline: none;
}

button {
	border: 0;
	padding: auto;
	width: 100%;
	display: block;
	height: 44px;
	background-color: transparent;
}
