*{
    text-align: center;
}

/*Tables*/
table {
	width: 100%;
	float: left;
}

th, td {
	text-align: center;
	font-size: 16px;
	width: fit-content;
}

th {
	padding: 10px;
	background-color: darkorange;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #fff3eb;
}

td:hover, td:active, td:focus {
	color: darkblue;
	font-weight: bold;
}

input, select{
    background-color: inherit;
	font-size: inherit;
	width: 100%;
	padding: 10px;
	border: 0;
	outline: none;
}

button {
	padding: auto;
	height: 44px;
	background-image: linear-gradient(to right, #00fff2, #0099ff);
}
