<div class="container">
  <h1 style="text-align: center; margin-top: 28px;">Request Items</h1>
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>

          <tr *ngFor="let item of items">
            <td>
              <input [(ngModel)]="item.name">
            </td>
            <td>
             <input [(ngModel)]="item.price">
            </td>
           
          <td>
            <button (click)="request(item)">Request</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>